.body {
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

.container {
	max-width: 46rem;
	width: 1140px;
}

.row {
	margin: 5px;
}

.catListItem {
	display: flex;
	margin: 10px;

	& .catImage {
		margin: 30px;
	}
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}